div {
    padding: 20px;
    margin: 10px;
}

.borda {
    border: 10px dashed black;
}

#bloco1 {
    background-color: lightblue;
}

#bloco2 {
    background-image: url("Skyline.jpg");
    background-repeat: repeat;
}

#bloco3 {
    background-image: url("Skyline.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#bloco4 {
    background-image: url("Skyline.jpg");
    background-size: cover;
}

#bloco5 {
    background-image: url("Skyline.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#bloco6 {
    background-image: url("Skyline.jpg");
    background-repeat: no-repeat;
    background-origin: padding-box;
}

#bloco7 {
    background-image: url("Skyline.jpg");
    background-repeat: no-repeat;
    background-origin: border-box;
}

#bloco8 {
    background-image: url("Skyline.jpg");
    background-repeat: no-repeat;
    background-origin: content-box;
}

#bloco9 {
    background-image: url("Skyline.jpg");
    background-repeat: no-repeat;
    background-clip: padding-box;
}

#bloco10 {
    background-image: url("Skyline.jpg");
    background-repeat: no-repeat;
    background-clip: border-box;
}

#bloco11 {
    background-image: url("Skyline.jpg");
    background-repeat: no-repeat;
    background-clip: content-box;
}

#bloco12 {
    background: url("Skyline.jpg") no-repeat center/cover content-box border-box fixed;
}
